<div class="container-fluid">
  <div class="row">
    <div class="profile-wrapper col-sm-3 col-md-2">
      <!--<div class="container-fluid">-->
      <div class="user-info row">
        <div class="avatar"><img class="img-circle img-responsive center-block" src="/images/100x100.png" alt="avatar"/>
        </div>
        <h3 class="username text-center">banbanchs</h3>

        <p class="description text-center">Morbi efficitur tempus euismod. Vivamus at placerat leo, vel rhoncus velit
          Vivamus egestas ultricies scelerisque. Nulla facilisi.</p>
        <button type="button" class="btn btn-primary center-block">Follow Me</button>
      </div>
      <div class="user-picture row"></div>
      <div class="user-activities row">
        <h3>Activities</h3>
        <ul class="activities list-unstyled">
          <li>Followed <a href="">John</a></li>
          <li>Favoried <a href="">John's Tweet</a></li>
          <li>Replied to <a href="">Someone's Tweet</a></li>
        </ul>
      </div>
      <!--</div>-->
    </div>
    <div class="timeline-wrapper col-sm-6 col-md-7">
      <div class="meta row">
        <div class="tweet-count col-md-3"><p class="text-center text-uppercase">tweets<a href="">123</a></p></div>
        <div class="video-count col-md-3"><p class="text-center text-uppercase">photos/videos<a href="">123</a></p>
        </div>
        <div class="following-count col-md-3"><p class="text-center text-uppercase">following<a href="">999</a></p>
        </div>
        <div class="follower-count col-md-3"><p class="text-center text-uppercase">followers<a href="">333</a></p></div>
      </div>
      <ul class="timeline row list-unstyled">
        <li>
          <card></card>
          <reply></reply>
        </li>
        <li>
          <card></card>
          <reply></reply>
        </li>
        <li>
          <card></card>
          <reply></reply>
        </li>
      </ul>
    </div>
    <div class="trend-wrapper col-sm-3 col-md-3">
      <div class="trend row">
        <h3>philippines trends</h3>
        <ul class="list-unstyled">
          <li><a href="">#OhNoNiall</a></li>
          <li><a href="">#CaneloKirkland</a></li>
          <li><a href="">Tony Allen</a></li>
          <li><a href="">Someone</a></li>
        </ul>
      </div>
      <div class="recommend-user row">
        <h3 class="text-uppercase">who to follow</h3>
        <ul class="list-unstyled">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
