<div class="container-fluid">
  <div class="row">
    <div class="profile-wrapper col-md-3">
      <div class="container-fluid">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
      </div>
    </div>
    <div class="timeline-wrapper col-md-6">
      <div class="meta row">
        <div class="tweet-count col-md-3"><p>tweets<a href="">123</a></p></div>
        <div class="video-count col-md-3"><p>photos/videos<a href="">123</a></p></div>
        <div class="following-count col-md-3"><p>following<a href="">999</a></p></div>
        <div class="follower-count col-md-3"><p>followers<a href="">333</a></p></div>
      </div>
      <div class="timeline row">
        <div class="card"><p>placeholder</p></div>
      </div>
    </div>
    <div class="trend-wrapper col-md-3"></div>
  </div>
</div>
